html,
body {
    font-family: 'VT323', monospace;
    background-color: rgb(145, 60, 145);
    background-image: url("../imgs/arcadeFloor.webp");
    overflow-x: hidden;
}

h1 {
    font-size: 100px;
    width: 550px;
    color: red;
    margin: auto;
    text-shadow: 5px 5px snow;
    background-color: navy;
    text-align: center;
    border: 1px solid snow;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.machine {
    position: relative;
    display: block;
    height: 432px;
    width: 332px;
    margin: auto;
    margin-top: 50px;
    margin-right: 25px;
    background: darkgrey;
    border-style: solid;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 32px;
}

.machine:hover {
    transform: scale(1.05);
}

.machine:visited {
    color: black;
}

.banner {
    display: block;
    height: 50px;
    width: 250px;
    background-color: darkgrey;
    border-right-style: solid;
}

.innerTop {
    display: block;
    height: 32px;
    width: 250px;
    background-color: grey;
    transform: translateX(10px) skewX(37deg);
    border-style: solid;
    border-bottom-style: none;
}

.screen {
    height: 150px;
    width: 250px;
    display: block;
    background: black;
    transform: translateX(23px);
    border-style: solid;
    border-bottom-style: none;
}

.screen div {
    height: 150px;
    width: 250px;
    display: block;
    background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 12%, rgba(148, 148, 148, 0.05) 75%, rgba(255, 255, 255, 0.45) 100%);
}

.controls {
    display: block;
    height: 45px;
    width: 250px;
    background-color: grey;
    transform: translateX(10px) skewX(-30deg);
    border-style: solid;
    border-bottom-style: none;
}

.joystick {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: black;
    transform: translate(32px, 5px) skew(30deg);
}

.joystick :first-child {
    height: 32px;
    width: 10px;
    margin: auto;
    background: darkgrey;
    transform: translateY(-15px);
}

.joystick :last-child {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: red;
    transform: translate(4px, -70px);
}

.buttons {
    height: 50px;
    display: flex;
    transform: translate(125px, -18px);
}

.button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-style: solid;

    background: limegreen;
    transform: skew(21deg) scale(0.75);
}

.button div {
    height: 15px;
    width: 15px;
    margin: auto;
    border-style: solid;

    border-radius: 50%;
    background: inheret;
    transform: translateY(1px);
}

.white {
    background: white;
    transform: translateY(-15px) skew(21deg) scale(0.75);
}

.yellow {
    background: yellow;
}

.bottom {
    display: block;
    height: 143px;
    width: 249px;
    background-color: darkgrey;
    background: darkgrey;
    border-style: solid;
    border-bottom-style: none;
    border-left-style: none;
}

.coinbox {
    height: 45px;
    width: 40px;
    margin: auto;
    margin-top: 21px;
    background: black;
    border-radius: 12%;
}

.coinbox :first-child {
    height: 38px;
    width: 35px;
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 143, 0, 1) 50%, rgba(255, 0, 0, 1) 100%);
    transform: translate(1.5px, 2.25px);
}

.coinbox :first-child :first-child {
    height: 30px;
    width: 7px;
    background: black;
    border: 2px solid grey;
    transform: translate(2px, 2px);
}

#one {
    background-image: url(https://f4.bcbits.com/img/a0746694746_10.jpg);
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-size: contain;
}

#one .banner {
    background-image: url(https://img.itch.zone/aW1hZ2UvNzkyNzc4LzQ1MjMzNjEucG5n/original/tGBvLk.png);
    background-size: 250px;
}

#one .screen {
    background-image: url(https://media0.giphy.com/media/5uD9hL1fpyul7TbonB/giphy.gif);
}