.soon {
    position: fixed;
    -moz-transform: scale(1.5) rotate(-15deg);
    -webkit-transform: scale(1.5) rotate(-15deg);
    -khtml-transform: scale(1.5) rotate(-15deg);
    transform: scale(1.5) rotate(-15deg);
    margin-top: 200px;
    margin-left: 450px;
    z-index: 7;
}

body {
    background-image: url("./imgs/tile.jpeg");
    background-repeat: repeat;
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    position: fixed;
    height: 400px;
    width: 100px;
    margin-left: 93vw;
    margin-bottom: -12vh;
    z-index: 5;
}

.hamburger {
    height: 100px;
    width: inherit;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

.line {
    height: 10px;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    background-color: black;
    transition: 400ms;
}

.line:first-child {
    margin-top: 25%;
}

.circle {
    height: 70%;
    width: 70%;
    margin: auto;
    border-radius: 50%;
    background-color: transparent;
    transform: translate(0, -70px);
    transition: 400ms;
}

nav {
    width: inherit;
    display: none;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 24px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: black;
}

nav a {
    width: 7vw;
    color: white;
}

nav a:hover {
    color: turquoise;
}

h1 {
    position: absolute;
    text-align: center;
    margin-top: -50px;
    margin-left: 300px;
    color: lightblue;
    background-color: lightslategray;
}

.container {
    max-width: 800px;
    margin-top: 150px;
    margin-left: 300px;
    background-color: khaki;
    border-style: solid;
    border-color: lightcoral;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
    -moz-border-width: 15px;
    -webkit-border-width: 15px;
    -khtml-border-width: 15px;
    border-width: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em; /*this code is obsolete, avoid using grid-gap */
    grid-template-areas: "j j . k"
                         "j j . k"
                         "l l l m";
}

#j {
    display: block;
    grid-area: j;
    -moz-height: 375px;
    -webkit-height: 375px;
    -khtml-height: 375px;
    height: 375px;
    -moz-width: 327px;
    -webkit-width: 327px;
    -khtml-width: 327px;
    width: 375px;
}

#k {
    display: block;
    grid-area: k;
    -moz-height: 375px;
    -webkit-height: 375px;
    -khtml-height: 375px;
    height: 375px;
    -moz-width: 187.5px;
    -webkit-width: 187.5px;
    -khtml-width: 187.5px;
    width: 187.5px;
}

#l {
    display: block;
    grid-area: l;
    -moz-height: 187.5px;
    -webkit-height: 187.5px;
    -khtml-height: 187.5px;
    height: 187.5px;
    -moz-width: 550px;
    -webkit-width: 550px;
    -khtml-width: 550px;
    width: 550px;
}

#m {
    display: block;
    grid-area: m;
    -moz-height: 187.5px;
    -webkit-height: 187.5px;
    -khtml-height: 187.5px;
    height: 187.5px;
    -moz-width: 187.5px;
    -webkit-width: 187.5px;
    -khtml-width: 187.5px;
    width: 187.5px;
}

img {
    height: inherit;
    width: inherit;
}