body {
    margin: 0;
    padding: 0;
    -moz-width: 100vw;
    -webkit-width: 100vw;
    -khtml-width: 100vw;
    width: 100vw;
    -moz-height: 100vh;
    -webkit-height: 100vh;
    -khtml-height: 100vh;
    height: 100vh;
    color: aliceblue;
    background-image: url("../imgs/library.webp");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: black;
    filter: brightness(0.69);
}

section {
    margin-top: -21vh;
}

a :hover {
    background-color: rgba(175,175,175, 0.75);
}

.page {
    position: absolute;
    -moz-transform: scale(0.25) rotate(25deg);
    -webkit-transform: scale(0.25) rotate(25deg);
    -khtml-transform: scale(0.25) rotate(25deg);
    transform: scale(0.25) rotate(25deg);
}

.one {
    margin-top: -20vh;
}

.two {
    margin-top: -5vh;
}

.three {
    margin-top: 10vh;
}

.four {
    margin-top: 25vh;
}

.left {
    margin-left: -15vw;
}

h2 {
    margin: 15vw;
    margin-bottom: -10vh;
}

.right {
    margin-top: -7vh;
    margin-left: 70vw;
}

.book {
    position: absolute;
    margin: 40vw;
    margin-top: 12.5vh;
}

.book img {
    -moz-transform: translate(-100px, -50px) rotate(25deg) scale(0.85);
    -webkit-transform: translate(-100px, -50px) rotate(25deg) scale(0.85);
    -khtml-transform: translate(-100px, -50px) rotate(25deg) scale(0.85);
    transform: translate(-100px, -50px) rotate(25deg) scale(0.85);
}

#exit {
    display: block;
    -moz-width: 75px;
    -webkit-width: 75px;
    -khtml-width: 75px;
    width: 75px;
    -moz-height: 150px;
    -webkit-height: 150px;
    -khtml-height:150px ;
    height: 150px;
    position: relative;
    margin: 0px;
    padding: 0px;
    -moz-transform: translate(935px, 550px);
    -webkit-transform: translate(935px, 550px);
    -khtml-transform: translate(935px, 550px);
    transform: translate(935px, 550px);
}

h6 {
    color: red;
    background-color: white;
    border-color: black;
    border-style: solid;
    -moz-border-radius: 12%;
    -webkit-border-radius: 12%;
    -khtml-border-radius: 12%;
    border-radius: 12%;
    font-size: large;
    text-align: center;
}

// phone sizes
@media (max-width: 540px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
        background-size: 2500px;
    }

    section {
        margin-top: -5vh;
    }

    .hide {
        display: none;
    }

    .left {
        -moz-transform: translate(-125px, 555px) scale(1.5);
        -webkit-transform: translate(-125px, 555px) scale(1.5);
        -khtml-transform: translate(-125px, 555px) scale(1.5);
        transform: translate(-125px, 555px) scale(1.5);
    }

    h2 {
        -moz-transform: translateX(150px);
        -webkit-transform: translateX(150px);
        -khtml-transform: translateX(150px);
        transform: translateX(150px);
        margin-bottom: -12vh;
    }

    .book {
        margin: 50vw;
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -khtml-transform: scale(1.5);
        transform: scale(1.5);
    }

    h1 {
        -moz-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        -khtml-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    p {
        -moz-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        -khtml-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    .book img {
        margin-top: -7vh;
        -moz-transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
        -webkit-transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
        -khtml-transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
        transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
    }

    #exit {
        -moz-height: unset;
        -webkit-height: unset;
        -khtml-height: unset;
        height: unset;
        transform: translate(275px, 7px);
    }
}

// IPhone 5/SE
@media (orientation: portrait) and (width: 320px) {
    h2 {
        font-size: larger;
        margin-bottom: -20vh;
    }

    .book {
        margin-top: 35vh;
    }

    h1 {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -khtml-transform: translateX(0px);
        transform: translateX(0px);
    }

    p {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -khtml-transform: translateX(0px);
        transform: translateX(0px);
    }

    #exit {
        -moz-height: unset;
        -webkit-height: unset;
        -khtml-height: unset;
        height: unset;
        -moz-transform: translate(250px, 40px);
        -webkit-transform: translate(250px, 40px);
        -khtml-transform: translate(250px, 40px);
        transform: translate(250px, 40px);
    }
}

@media (orientation: landscape) and (max-width: 823px) {
    .section {
        margin-top: 0vw;
    }

    .one {
        margin-top: -45vh;
    }

    .two {
        margin-top: -20vh;
    }

    .three {
        margin-top: 0vh;
    }

    .four {
        margin-top: 25vh;
    }

    .left {
        -moz-transform: translate(-175px, 0px) scale(0.5);
        -webkit-transform: translate(-175px, 0px) scale(0.5);
        -khtml-transform: translate(-175px, 0px) scale(0.5);
        transform: translate(-175px, 0px) scale(0.5);
    }

    h2 {
        -moz-transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -khtml-transform: translateX(100px);
        transform: translateX(100px);
        margin-bottom: -12vh;
    }

    .book {
        -moz-transform: translate(-125px, -125px) scale(0.5);
        -webkit-transform: translate(-125px, -125px) scale(0.5);
        -khtml-transform: translate(-125px, -125px) scale(0.5);
        transform: translate(-125px, -125px) scale(0.5);
    }

    .right {
        -moz-transform: translate(-75px, 21px) scale(0.5);
        -webkit-transform: translate(-75px, 21px) scale(0.5);
        -khtml-transform: translate(-75px, 21px) scale(0.5);
        transform: translate(-75px, 21px) scale(0.5);
    }

    #exit {
        -moz-transform: translate(400px, 175px) scale(0.5);
        -webkit-transform: translate(400px, 175px) scale(0.5);
        -khtml-transform: translate(400px, 175px) scale(0.5);
        transform: translate(400px, 175px) scale(0.5);
    }
}

// fixes pixel 2
@media (orientation: landscape) and (width: 731px) {
    #exit {
        -moz-transform: translate(460px, 221px) scale(0.5);
        -webkit-transform: translate(460px, 221px) scale(0.5);
        -khtml-transform: translate(460px, 221px) scale(0.5);
        transform: translate(460px, 221px) scale(0.5);
    }
}

// fixes pixel 2 XL
@media (orientation: landscape) and (width: 823px) {
    #exit {
        -moz-transform: translate(521px, 245px) scale(0.5);
        -webkit-transform: translate(521px, 245px) scale(0.5);
        -khtml-transform: translate(521px, 245px) scale(0.5);
        transform: translate(521px, 245px) scale(0.5);
    }
}

// fixes IPhone 5/SE
@media (orientation: landscape) and (width: 568px) {
    h2 {
        margin-bottom: -30vh;
    }

    .book {
        -moz-transform: translate(-150px, -100px) scale(0.5);
        -webkit-transform: translate(-150px, -100px) scale(0.5);
        -khtml-transform: translate(-150px, -100px) scale(0.5);
        transform: translate(-150px, -100px) scale(0.5);
    }

    .right {
        -moz-transform: translate(-75px, 40px) scale(0.5);
        -webkit-transform: translate(-75px, 40px) scale(0.5);
        -khtml-transform: translate(-75px, 40px) scale(0.5);
        transform: translate(-75px, 40px) scale(0.5);
    }

    #exit {
        -moz-transform: translate(350px, 200px) scale(0.5);
        -webkit-transform: translate(350px, 200px) scale(0.5);
        -khtml-transform: translate(350px, 200px) scale(0.5);
        transform: translate(350px, 200px) scale(0.5);
    }
}

// fixes IPhone6/7/8
@media (orientation: landscape) and (width: 667px) {
    #exit {
        -moz-transform: translate(415px, 190px) scale(0.5);
        -webkit-transform: translate(415px, 190px) scale(0.5);
        -khtml-transform: translate(415px, 190px) scale(0.5);
        transform: translate(415px, 190px) scale(0.5);
    }
}

//fixes IPhone6/7/8 plus
@media (orientation: landscape) and (width: 736px) {
    #exit {
        -moz-transform: translate(460px, 221px) scale(0.5);
        -webkit-transform: translate(460px, 221px) scale(0.5);
        -khtml-transform: translate(460px, 221px) scale(0.5);
        transform: translate(460px, 221px) scale(0.5);
    }
}

// fixes IPhone X
@media (orientation: landscape) and (width: 812px) {
    #exit {
        -moz-transform: translate(515px, 225px) scale(0.5);
        -webkit-transform: translate(515px, 225px) scale(0.5);
        -khtml-transform: translate(515px, 225px) scale(0.5);
        transform: translate(515px, 225px) scale(0.5);
    }
}

// tablet sizes
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
        background-size: 2500px;
    }

    .hide {
        display: none;
    }

    .left {
        -moz-transform: translate(225px, 950px) scale(1.5);
        -webkit-transform: translate(225px, 950px) scale(1.5);
        -khtml-transform: translate(225px, 950px) scale(1.5);
        transform: translate(225px, 950px) scale(1.5);
    }

    h2 {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -khtml-transform: translateX(0px);
        transform: translateX(0px);
        margin-bottom: -2vh;
    }

    .book {
        margin: 50vw;
        margin-top: 35vh;
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -khtml-transform: scale(2);
        transform: scale(2);
    }

    h1 {
        -moz-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        -khtml-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    p {
        -moz-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        -khtml-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    .book img {
        margin-top: -7vh;
        -moz-transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
        -webkit-transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
        -khtml-transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
        transform: translate(-100px, -50px) rotate(25deg) scale(0.65);
    }

    #exit {
        -moz-height: unset;
        -webkit-height: unset;
        -khtml-height: unset;
        height: unset;
        -moz-transform: translate(690px, 50px);
        -webkit-transform: translate(690px, 50px);
        -khtml-transform: translate(690px, 50px);
        transform: translate(690px, 50px);
    }
}

// fixes IPad pro
@media (orientation: portrait) and (width: 1024px) {
    h1 {
        -moz-transform: translate(-30px, -15px);
        -webkit-transform: translate(-30px, -15px);
        -khtml-transform: translate(-30px, -15px);
        transform: translate(-30px, -15px);
    }

    p {
        -moz-transform: translate(-30px, -30px);
        -webkit-transform: translate(-30px, -30px);
        -khtml-transform: translate(-30px, -30px);
        transform: translate(-30px, -30px);
    }

    .left {
        -moz-transform: translate(500px, 950px) scale(1.5);
        -webkit-transform: translate(500px, 950px) scale(1.5);
        -khtml-transform: translate(500px, 950px) scale(1.5);
        transform: translate(500px, 950px) scale(1.5);
    }

    h2 {
        -moz-transform: translateX(-25px);
        -webkit-transform: translateX(-25px);
        -khtml-transform: translateX(-25px);
        transform: translateX(-25px);
        margin-bottom: 5vh;
    }

    .book {
        margin-top: 25vh;
    }

    #exit {
        -moz-height: unset;
        -webkit-height: unset;
        -khtml-height: unset;
        height: unset;
        -moz-transform: translate(900px, 50px);
        -webkit-transform: translate(900px, 50px);
        -khtml-transform: translate(900px, 50px);
        transform: translate(900px, 50px);
    }
}

@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1366px) {
    html {
        overflow: hidden;
    }

    body {
        background-size: 125vw;
        overflow: hidden;
    }

    section {
        margin-top: -15vh;
    }

    .left {
        -moz-transform: translate(-50px);
        -webkit-transform: translate(-50px);
        -khtml-transform: translate(-50px);
        transform: translate(-50px);
    }

    h2 {
        -moz-transform: translateX(75px);
        -webkit-transform: translateX(75px);
        -khtml-transform: translateX(75px);
        transform: translateX(75px);
    }

    #exit {
        -moz-transform: translate(832px, 490px);
        -webkit-transform: translate(832px, 490px);
        -khtml-transform: translate(832px, 490px);
        transform: translate(832px, 490px);
    }
}

@media (orientation: landscape) and (width: 1366px) {
    section {
        margin-top: -10vh;
    }

    h2  {
        -moz-transform: translate(75px, -50px);
        -webkit-transform: translate(75px, -50px);
        -khtml-transform: translate(75px, -50px);
        transform: translate(75px, -50px);
    }

    #exit {
        -moz-transform: translate(1121px, 640px);
        -webkit-transform: translate(1121px, 640px);
        -khtml-transform: translate(1121px, 640px);
        transform: translate(1121px, 640px);
    }
}