html,
body {
    margin: 0px;
    padding: 0px;
    -moz-width: 100vw;
    -webkit-width: 100vw;
    -khtml-width: 100vw;
    width: 100vw;
    -moz-height: 100vh;
    -webkit-height: 100vh;
    -khtml-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(19, 5, 5);
}

#landscape {
    position: fixed;
    margin: 0px;
    padding: 0px;
    min-width: 25vw;
    max-height: 105vh;
}

.scene {
    position: relative;
    -moz-width: 200px;
    -webkit-width: 200px;
    -khtml-width: 200px;
    width: 200px;
    -moz-height: 200px;
    -webkit-height: 200px;
    -khtml-height: 200px;
    height: 200px;
    margin: auto;
    margin-top: 7%;
    perspective: 400px;
}

.cube {
    -moz-width: 200px;
    -webkit-width: 200px;
    -khtml-width: 200px;
    width: 200px;
    -moz-height: 200px;
    -webkit-height: 200px;
    -khtml-height: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cube.show-front {
    -moz-transform: translateZ(-100px) rotateY(0deg);
    -webkit-transform: translateZ(-100px) rotateY(0deg);
    -khtml-transform: translateZ(-100px) rotateY(0deg);
    transform: translateZ(-100px) rotateY(0deg);
}

.cube.show-right {
    -moz-transform: translateZ(-100px) rotateY(-90deg);
    -webkit-transform: translateZ(-100px) rotateY(-90deg);
    -khtml-transform: translateZ(-100px) rotateY(-90deg);
    transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show-back {
    -moz-transform: translateZ(-100px) rotateY(-180deg);
    -webkit-transform: translateZ(-100px) rotateY(-180deg);
    -khtml-transform: translateZ(-100px) rotateY(-180deg);
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-left {
    -moz-transform: translateZ(-100px) rotateY(90deg);
    -webkit-transform: translateZ(-100px) rotateY(90deg);
    -khtml-transform: translateZ(-100px) rotateY(90deg);
    transform: translateZ(-100px) rotateY(90deg);
}

.cube.show-top {
    -moz-transform: translateZ(-100px) rotateX(-90deg);
    -webkit-transform: translateZ(-100px) rotateX(-90deg);
    -khtml-transform: translateZ(-100px) rotateX(-90deg);
    transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show-bottom {
    -moz-transform: translateZ(-100px) rotateX(90deg);
    -webkit-transform: translateZ(-100px) rotateX(90deg);
    -khtml-transform: translateZ(-100px) rotateX(90deg);
    transform: translateZ(-100px) rotateX(90deg);
}

.cube__face {
    position: absolute;
    -moz-width: 200px;
    -webkit-width: 200px;
    -khtml-width: 200px;
    width: 200px;
    -moz-height: 200px;
    -webkit-height: 200px;
    -khtml-height: 200px;
    height: 200px;
    border: 2px solid rgb(15, 15, 15);
}

.cube__face--front {
    background: black;
}

.cube__face--right {
    background: black;
}

.cube__face--back {
    background: black;
}

.cube__face--left {
    background: black;
}

.cube__face--top {
    background: black;
}

.cube__face--bottom {
    background: black;
}

.cube__face--front {
    -moz-transform: rotateY(0deg) translateZ(100px);
    -webkit-transform: rotateY(0deg) translateZ(100px);
    -khtml-transform: rotateY(0deg) translateZ(100px);
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--right {
    -moz-transform: rotateY(90deg) translateZ(100px);
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -khtml-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--back {
    -moz-transform: rotateY(180deg) translateZ(100px);
    -webkit-transform: rotateY(180deg) translateZ(100px);
    -khtml-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -khtml-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    -moz-transform: rotateX(90deg) translateZ(100px);
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -khtml-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
    -moz-transform: rotateX(-90deg) translateZ(100px);
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    -khtml-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}

.left {
    display: inline-block;
    height: 200px;
    width: 98px;
    margin: 0px;
    left: 0px;
    top: 0px;
}

.right {
    display: inline-block;
    height: 200px;
    width: 98px;
    margin: 0px;
    right: 0px;
    top: 0px;
}

.text {
    display: block;
    position: relative;
    height: 50px;
    width: fit-content;
    margin: auto;
    margin-top: -132px;
}

a {
    line-height: 50px;
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

a:hover {
    color: turquoise;
}

span {
    display: block;
    margin: 43.5%; // auto didn't work
    margin-top: 0%;
    -moz-transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
    -khtml-transform: translateZ(100px);
    transform: translateZ(100px);
}

span img:first-child {
    -moz-transform: rotate(32deg) scaleX(-1);
    -webkit-transform: rotate(32deg) scaleX(-1);
    -khtml-transform: rotate(32deg) scaleX(-1);
    transform: rotate(32deg) scaleX(-1);
}

span img:last-child {
    -moz-transform: translateX(50px) rotate(-32deg);
    -webkit-transform: translateX(50px) rotate(-32deg);
    -khtml-transform: translateX(50px) rotate(-32deg);
    transform: translateX(50px) rotate(-32deg);
}

#ant {
    -moz-height: 100p;
    -webkit-height: 100p;
    -khtml-height: 100p;
    height: 100px;
    display: block;
    margin-top: -23%;
    -moz-transform: translateX(650px) translateZ(100px) scaleX(-1) scale(0.75);
    -webkit-transform: translateX(650px) translateZ(100px) scaleX(-1) scale(0.75);
    -khtml-transform: translateX(650px) translateZ(100px) scaleX(-1) scale(0.75);
    transform: translateX(650px) translateZ(100px) scaleX(-1) scale(0.75);
    -moz-animation-duration: 25s;
    -webkit-animation-duration: 25s;
    -khtml-animation-duration: 25s;
    animation-duration: 25s;
    animation-name: moving-ant;
    animation-iteration-count: infinite;
}

@keyframes moving-ant {

    // turn around
    0% {
        -moz-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        -webkit-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        -khtml-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
    }

    // lake
    23% {
        -moz-transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
        -webkit-transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
        -khtml-transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
        transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
    }

    // turn around
    25% {
        -moz-transform: translateX(1200px) translateZ(100px) scale(0.75);
        -webkit-transform: translateX(1200px) translateZ(100px) scale(0.75);
        -khtml-transform: translateX(1200px) translateZ(100px) scale(0.75);
        transform: translateX(1200px) translateZ(100px) scale(0.75);
    }

    // hill
    45% {
        -moz-transform: translateX(275px) translateZ(100px) scale(0.75);
        -webkit-transform: translateX(275px) translateZ(100px) scale(0.75);
        -khtml-transform: translateX(275px) translateZ(100px) scale(0.75);
        transform: translateX(275px) translateZ(100px) scale(0.75);
    }

    // turn around
    47% {
        -moz-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        -webkit-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        -khtml-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
    }

    // lake
    69% {
        -moz-transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
        -webkit-transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
        -khtml-transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
        transform: translateX(1200px) translateZ(100px) scaleX(-1) scale(0.75);
    }

    // turn around
    71% {
        -moz-transform: translateX(1200px) translateZ(100px) scale(0.75);
        -webkit-transform: translateX(1200px) translateZ(100px) scale(0.75);
        -khtml-transform: translateX(1200px) translateZ(100px) scale(0.75);
        transform: translateX(1200px) translateZ(100px) scale(0.75);
    }

    // hill
    98% {
        -moz-transform: translateX(275px) translateZ(100px) scale(0.75);
        -webkit-transform: translateX(275px) translateZ(100px) scale(0.75);
        -khtml-transform: translateX(275px) translateZ(100px) scale(0.75);
        transform: translateX(275px) translateZ(100px) scale(0.75);
    }

    // turn around
    100% {
        -moz-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        -webkit-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        -khtml-transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
        transform: translateX(275px) translateZ(100px) scaleX(-1) scale(0.75);
    }
}

// phone sizes
@media (max-width: 540px) {
    .scene {
        margin-top: 25%;
    }

    span {
        display: none;
    }

    #ant {
        display: none;
    }
}

@media (orientation: landscape) and (max-width: 823px) {
    #landscape {
        min-width: unset;
        max-width: 100vw;
        max-height: unset;
    }

    span {
        display: none;
    }

    #ant {
        display: none;
    }
}

// tablet sizes
@media (orientation: portrait) and (min-width: 717px) and (max-width: 1024px) {
    #landscape {
        min-width: 240vw;
    }

    .scene {
        -moz-transform: translateY(75px) scale(1.55);
        -webkit-transform: translateY(75px) scale(1.55);
        -khtml-transform: translateY(75px) scale(1.55);
        transform: translateY(75px) scale(1.55);
    }

    .cube {
        -moz-transform: scale(1.55);
        -webkit-transform: scale(1.55);
        -khtml-transform: scale(1.55);
        transform: scale(1.55);
    }

    span {
        display: none;
    }

    #ant {
        display: none;
    }
}

@media (orientation: landscape) and (min-width: 717px) and (max-width: 1366px) {
    #landscape {
        min-width: unset;
    }

    .scene {
        -moz-transform: translateY(75px) scale(1.35);
        -webkit-transform: translateY(75px) scale(1.35);
        -khtml-transform: translateY(75px) scale(1.35);
        transform: translateY(75px) scale(1.35);
    }

    .cube {
        -moz-transform: scale(1.35);
        -webkit-transform: scale(1.35);
        -khtml-transform: scale(1.35);
        transform: scale(1.35);
    }

    span {
        display: none;
    }

    #ant {
        margin-top: 38.5%;
    }
}

// Large monitors 1920 x 1080 --> 2560 x 1440 width
@media (orientation: landscape) and (min-width: 1920px) {
    #landscape {
        -moz-transform: scale(1.45);
        -webkit-transform: scale(1.45);
        -khtml-transform: scale(1.45);
        transform: scale(1.45) translate(150px, 50px);
    }

    .scene {
        -moz-transform: translateY(75px) scale(1.45);
        -webkit-transform: translateY(75px) scale(1.45);
        -khtml-transform: translateY(75px) scale(1.45);
        transform: translateY(75px) scale(1.45);
    }

    .cube {
        -moz-transform: scale(1.45);
        -webkit-transform: scale(1.45);
        -khtml-transform: scale(1.45);
        transform: scale(1.45);
    }

    span {
        margin: 45.5%; // auto didn't work
        margin-top: 7.5%;
        -moz-transform: translateZ(100px) scale(1.25);
        -webkit-transform: translateZ(100px) scale(1.25);
        -khtml-transform: translateZ(100px) scale(1.25);
        transform: translateZ(100px) scale(1.25);
    }

    #ant {
        margin-top: -27%;
    }
}