html, body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    margin-top: -3vh;
    position: fixed;
    z-index: 5;
    top: 25px;
}

h1 {
    font-size: 65px;
}

.contain {
    margin: auto;
    width: 95vw;
}

#me {
    top: 5px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

#me article {
    top: 50px;
    height: 65%;
    width: 65%;
    position: relative;
    text-align: center;
}

.name-content {
    position: relative;
}

.name-content h2{
    font-size: 1.37em;
}

#me figure {
    width: 35%;
}

/* controls our magnets  */
/* cool idea: what if users can click on the tape, ripping it off, and making our pictures fall off screen? */
/* better idea, fantasy font was unreadable so while exchanging it for market font, we also removed the paper
background. This gives the website a much cleaner look, and we can in turn hold up our img's with 
magnets and let users play with the magnets. Oh Oh! and maybe there can be a few markers at the bottom so users
can draw! */

// .magnet {
//     display: block;
//     height: 45px;
//     width: 45px;
//     border-radius: 50%;
//     box-shadow: 1.5px 1.5px 5px black;
//     background-color: red;
//     position: absolute;
//     z-index: 2;
// }

// .green {
//     background-color: rgb(79, 185, 10);
// }

// .yellow {
//     background-color: rgb(235, 199, 10);
// }

// .blue {
//     background-color: rgb(17, 128, 189);
// }

// .magnet div {
//     display: block;
//     height: 45px;
//     width: 45px;
//     position: relative;
//     margin: auto;
//     border-radius: 50%;
//     background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%,
//             rgba(255, 255, 255, 0.75) 12%, rgba(148, 148, 148, 0.05) 75%,
//             rgba(255, 255, 255, 0.45) 100%);
// }

// #m0 {
//     margin-top: -21px;
//     margin-left: 182px;
// }

// #m1 {
//     margin-left: 305px;
//     margin-top: -32px;
// }

// #m2 {
//     margin-left: 175px;
//     margin-top: -32px;
// }

.selfie {
    width: 175px;
    height: 175px;
    margin-top: 15px;
    margin-left: 150px;
    transform: rotate(25deg);
    z-index: 1;
}

.selfie img {
    height: inherit;
    width: inherit;
}

.ant {
    width: 175px;
    height: 175px;
    overflow: hidden;
    margin-top: -25px;
    margin-left: 200px;
    transform: rotate(-15deg);
    z-index: 1;
}

.ant img {
    width: inherit;

}

.poof {
    width: 175px;
    height: 175px;
    overflow: hidden;
    margin-top: -25px;
    margin-left: 150px;
    transform: rotate(12deg);
    z-index: 1;
}

.poof img {
    margin-top: -35px;
    width: inherit;
}

/* magnets for project photos*/
.mp1 {
    margin-top: 75px;
}

.mp2 {
    margin-top: 60px;
    margin-left: 345px;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-name {
    width: 32%;
    margin-bottom: 15px;
}

/* controls project headers*/
.ph {
    text-align: right;
}

/* this controls our zigzag items*/
.project-img {
    height: 325px;
    width: 400px;
    padding: 5px;
}

// contact
form {
    width: 50vw;
    margin: auto;
}

input {
    width: 25vw;
    margin-left: 25%;
    margin-bottom: 5%;
    font-size: 24px;
}

textarea {
    width: 50vw;
    min-height: 18vh;
    font-size: 18px;
}

button {
    width: 7vw;
    font-size: 21px;
    color: white;
    margin-top: 5%;
    margin-left: 45%;
    background-color: rgb(58, 138, 249);
}

.flex-space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.foot-text {
    display: block;
}