html {
    overflow-x: hidden;
    font-family: fantasy;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* custom scrollbar */
::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("./imgs/crumpled-paper.jpg");
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}

.progress-container {
    top: 100px;
    left: 28px;
    height: 85%;
    width: 7.5px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    position: fixed;
    background: rgb(0, 174, 255);
    box-shadow: 0 0 5px black;
}

.progress-bar {
    height: 0%;
    width: 7.5;
    background: blue;
    justify-content: center;
}

.progress-ball {
    left: -10px;
    top: 5px;
    position: relative;
    height: 25px;
    width: 25px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    background: #00aeff;
}

/* #pb1 {
    top: 75px;
} */

#welcome-section {
    min-height: 100vh;
}

.navbar {
    margin-top: -3vh;
    position: fixed;
    z-index: 5;
    top: 25px;
}

.nav-left {
    left: -21px;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.left-items {
    height: 75px;
    margin-left: 2.25;
}

.name {
    font-size: 65px;
    margin-top: 0px;
}

.nav-right {
    right: 0px;
    width: 19%;
    display: flex;
    justify-content: space-evenly;
}

.right-items {
    height: 75px;
    margin-left: 2.25;
}

#nav-btn {
    width: 100px;
    font-size: larger;
    font-style: oblique;
    background-color: aqua;
    box-shadow: insert 0 0 5px black;
}

.world-content {
    margin-left: 60px;
    margin-top: 100px;
    width: 95%;
}

.name-content {
    position: relative;
    /* margin-left: 45em; */
}

.tape {
    position: absolute;
    transform: scale(0.5);
    margin-top: -132px;
    margin-left: -145px;
    z-index: 2;
}

/* cool idea: what if users can click on the tape, ripping it off, and making our pictures fall off screen? */

.selfie {
    width: 175px;
    height: 175px;
    transform: rotate(15deg);
    z-index: 1;
}

.self-figure {
    position: fixed;
    margin-top: -1em;
}



/* These are drawn decoration. We should use defaults for now, later add seasonal change */
/* 
#dec1 {
    position: relative;
    margin-left: 59em;
    margin-bottom: 10em;
    margin-top: -12.5em;
    transform: scale(0.5);
    z-index: 0;
}

#dec2 {
    position: relative;
    z-index: 2;
    margin-left: 0em;
    margin-top: -10em;
    margin-bottom: 5.05em;
    max-height: 75px;
}

#dec3 {
    position: relative;
    z-index: 2;
    margin-left: 25em;
    margin-top: -5em;
    margin-bottom: 5em;
    transform: scale(0.75);
}

#dec4 {
    position: relative;
    z-index: 2;
    margin-left: 10em;
    margin-top: -15em;
    margin-bottom: 5em;
    transform: scale(0.75);
}

#dec5 {
    position: relative;
    z-index: 2;
    margin-left: 25em;
    margin-top: -5em;
    margin-bottom: 5em;
    transform: scale(0.75);
}

#dec6 {
    position: relative;
    z-index: 2;
    margin-left: 10em;
    margin-top: -15em;
    margin-bottom: 5em;
    transform: scale(0.75);
}

#dec7 {
    position: relative;
    z-index: 2;
    margin-left: 25em;
    margin-top: -5em;
    margin-bottom: 5em;
    transform: scale(0.75);
} */

/* this controls our zigzag items*/
.projects {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
}

.project-title {
    max-width: 425px;
}

.right {
    margin-left: 57em;
}

.summary1 {
    margin-top: -1.5em;
    margin-left: 27em;
}

.summary2 {
    margin-top: -1.5em;
}

.cardContent {
    padding: 10px;
}

/* links in footer */
#place {
    font-size: 25px;
    background: red;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px;
    margin-left: 50px;
    padding: 4px;
    color: black;
    line-height: 12px;
}
